language: d

os:
  - linux
  - osx

d:
  - dmd-nightly
  - dmd-beta
  - dmd
  - dmd-2.076.0
  - dmd-2.074.0
  - dmd-2.072.2
  - dmd-2.068.2
  - ldc-beta
  - ldc
  - ldc-1.8.0
  - ldc-1.6.0
  - gdc

matrix:
  allow_failures:
      - d: gdc
      - d: dmd-beta
      - d: ldc-beta

script:
  - dub test

sudo: false
